.footpara{
    background: black;
    color: aliceblue;
    
}
.activity {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}
